<html>

<head>
	<title>Cerulean DVL</title>

	<!-- Leaflet will only work with internet, and that is fine. -->
	<link rel="stylesheet" href="/static/css/leaflet.css"/>
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="/static/js/leaflet.js"></script>
	<script src="/static/js/rotatedmarker.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="/static/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="/static/css/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<style>
	.v-card {
		margin: 10px;
	}
</style>

<div id="app">
	<v-app>
		<v-main>
			<v-container>
				<!-- <h1>Cerulean DVL ( {{ hostname }} )</h1> -->
				<v-row>
					<v-col class="col-12 col-md-6">
						<v-card>
							<v-toolbar :color="this.enabled? 'light-blue darken-3' : 'grey darken-3'" dark>
								<v-toolbar-title>DVL Tracking</v-toolbar-title>
								<v-spacer></v-spacer>
								<v-switch inset v-model="this.enabled" @change="setDvlEnabled($event)" hide-details></v-switch>
							</v-toolbar>
							<v-card-text>
								<v-row>
									<v-col cols="3">
									<div class="font-weight-bold">Driver Status: </div>

									</v-col>
									<v-col cols="9">
										<div> {{status}} </div>
									</v-col>
								</v-row>
							</v-card-text>
	
							<v-simple-table>
								<template v-slot:default>
									<thead>
										<tr>
											<th class="text-left">
												Parameter
											</th>
											<th class="text-left">
												Status
											</th>
											<th class="text-left">
												Raw
											</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(item, key) in dvl">
											<td>{{ item.name }}</td>
											<td v-if="item.descriptions">
												<div v-if="item.descriptions[item.value]">{{ item.descriptions[item.value] }}</div>
												<div v-else>{{getDescription(key, item)}}</div>
											</td>
											<td v-else>{{getDescription(key, item)}}</td>
											<td>{{ item.value }}</td>

										</tr>
									</tbody>
								</template>
							</v-simple-table>
						</v-card>

						<v-card >
							<v-toolbar 
							:color="(this.rangefinder_enable && this.enabled) ? 'light-blue darken-3' : 'grey darken-3'"
							dark>	
								<v-toolbar-title>Rangefinder</v-toolbar-title>				
								<v-spacer></v-spacer>
								<!-- <v-btn icon>
									<v-icon>mdi-magnify</v-icon>
								</v-btn>
								 -->
								<v-switch inset v-model="this.rangefinder_enable" @change="setDvlAsRangefinder($event)" hide-details></v-switch>
							</v-toolbar>
							
							<v-card-text>
								<v-row align="center">
									<v-col cols="6">
									<v-card-subtitle class="pb-0">
										The DVL can function as an altimeter or obstacle sensor by sending Mavlink rangefinder messages to ArduSub.
									</v-card-subtitle>
										<!-- <v-img src="https://cdn.vuetifyjs.com/images/cards/sun.png" alt="Sunny image" width="92"></v-img> -->
										<!-- <v-icon x-large>mdi-signal-distance-variant</v-icon> -->
									</v-col>
									<v-col class="text-h3" cols="6">
										<div>
										<span v-if="this.rangefinder === -1 || this.rangefinder === 0">-- Meters</span>
										<span v-else>{{this.rangefinder}} Meters</span>
										<v-icon x-large v-if="this.orientation === 2">mdi-signal-distance-variant</v-icon>
										<v-icon x-large v-if="this.orientation === 1">mdi-signal-distance-variant mdi-rotate-90</v-icon>
										</div>
									</v-col>
								</v-row>
							</v-card-text>
						</v-card>

						<v-card>
							<v-toolbar color="grey darken-3" dark>
								<v-toolbar-title>Settings</v-toolbar-title>
								<v-spacer></v-spacer>
								<!-- <v-switch inset v-model="this.rangefinder_enable" @change="setDvlAsRangefinder($event)" hide-details></v-switch> -->
							</v-toolbar>
							<v-card-text>
							<h3>Orientation:</h3>
							<v-radio-group v-model="this.orientation">
								<v-radio v-for="(item, key) in orientationOptions" :key="item" :label="key" :value="item"
									@change="setDvlOrientation(item)"></v-radio>
							</v-radio-group>
							</v-card-text>

							<!-- Future Settings: Set DVL declination,  -->
						</v-card>
					</v-col>
					<!-- uncomment this to have control of what kind of message is being sent and to allow pointing the dvl forward-->
					
					<!-- <v-col>
						<v-card height="200">
							<h2>Message type:</h2>
							<v-radio-group v-model="this.messageToSend">
								<v-radio v-for="msg in messageOptions" :key="msg" :label="`${msg}`" :value="msg" @change="setDvlMessage(msg)">
								</v-radio>
							</v-radio-group>
						</v-card>
					</v-col> -->

					<v-col class="col-12 col-md-6">
						<v-card>
							<v-toolbar color="grey darken-3" dark>
								<v-toolbar-title>Location</v-toolbar-title>
								<v-spacer></v-spacer>
								<!-- <v-switch inset v-model="this.rangefinder_enable" @change="setDvlAsRangefinder($event)" hide-details></v-switch> -->
							</v-toolbar>
							<!-- <h3>Set Current Location</h3> -->
							<div id="mapid" style="height: 450px;"></div>
							<v-card-text>
								<form>
									<label for="lat">Latitude:</label>
									<input type="text" id="lat" name="lat" v-model="this.newOrigin[0]">
									<br>
									<label for="long">Longitude:</label>
									<input type="text" id="long" name="long" v-model="this.newOrigin[1]">
									<br>
									<v-btn type="button" class="btn btn-primary" @click="setCurrentLocation();">Set Current Location</v-btn>

								</form>
							</v-card-text>
						</v-card>
					</v-col>
				</v-row>
			</v-container>
		</v-main>
	</v-app>
</div>

<script src="/static/js/vue.js"></script>
<script src="/static/js/vuetify.js"></script>
<script src="/static/js/axios.min.js"></script>

<script>
	Vue.config.devtools = true;
	new Vue({
		el: '#app',
		vuetify: new Vuetify(),
		data() {
			return {
				status: "",
				enabled: null,
				orientation: null,
				origin: [0, 0],
				newOrigin: [0, 0],
				rangefinder_enable: null,
				rangefinder: -1,
				messageToSend: null,
				hostname: null,
				rovMarker: undefined,
				newHostname: null,
				rovPosition: [],
				dvl_lock: null,
				dvl_gps_status: null,
				dvl_calibration: null,
				dvl: {
					lock: {name: "Lock", value: null, 
						descriptions: {
							"T" : "DVL has lock on bottom",
							"F": "DVL searching for bottom"
						}
					},
					gps_status: { name: "GPS Status", value: null,
						descriptions: {
							"A": "Fresh Fix",
							"V": "Invalid Fix",
							"X": "Stale Fix"
						}
					},
					calibration: { name: "IMU Calibration", value: null
					}
				},
				messageOptions: ["POSITION_DELTA", "POSITION_ESTIMATE", "SPEED_ESTIMATE"],
				orientationOptions: {
					"Downward": 1,
					"Forward": 2,
				}
			}
		},
		methods: {
			updateDvlStatus() {
				axios.get('/get_status', { timeout: 1000 })
					.then((response) => {
						// handle success
						let data = response.data
						this.status = data.status
						this.enabled = data.enabled
						this.orientation = data.orientation
						this.origin = data.origin
						if (this.newOrigin === ['0','0']) {
							this.newOrigin = data.origin
						}
						this.rangefinder_enable= data.rangefinder_enable
						this.messageToSend = data.messageToSend
					  	this.hostname = data.hostname
						this.messageToSend = data.should_send
						if (this.newHostname == null) {
							this.newHostname = data.hostname
						}
						this.dvl.lock.value = data.dvl_lock
						this.dvl.gps_status.value = data.dvl_gps_status
						this.dvl.calibration.value = data.dvl_calibration
						this.rangefinder = data.dvl_altitude
						// this.dvl.calibration.value = "1234"
					})
					.catch((error) => {
						this.status = `Unable to talk to DVL service: ${error}`
						console.log(error);
					})
			},
			updateVehiclePosition() {
				axios.get(`http://${window.location.hostname}/mavlink2rest/mavlink/vehicles/1/components/1/messages/GLOBAL_POSITION_INT/message`, { timeout: 1000 })
					.then((response) => {
						lat = response.data.lat/1e7
						lon = response.data.lon/1e7
						if (this.rovMarker === undefined) {
							var myIcon = L.icon(
								{
									iconUrl: '/static/arrow.png',
									iconSize: [30, 30],
									iconAnchor: [15, 15],
									className: 'rovmarker',
							});
							this.rovMarker = L.marker([lat, lon], { title: "ROV position", icon: myIcon, rotationAngle: 45})
							.addTo(map)
						} else {
							this.rovPosition = [lat, lon]
							this.rovMarker.setLatLng(new L.LatLng(lat, lon))
						}
					})
					axios.get(`http://${window.location.hostname}/mavlink2rest/mavlink/vehicles/1/components/1/messages/ATTITUDE/message/yaw`, { timeout: 1000 })
					.then((response) => {
						angle = parseFloat(response.data) * 57.2958
						this.rovMarker.setRotationAngle(angle)
					})
			},
			createMap() {
				map = L.map('mapid').setView([0, 0], 1);
				L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{
					maxZoom: 22,
					subdomains:['mt0','mt1','mt2','mt3'],
					maxNativeZoom: 20
				}).addTo(map);

				marker = L.marker([33.841456, -118.335212], { title: "New Origin", draggable: true })
					.addTo(map)
					.on('dragend', (event) => {
						this.newOrigin = [event.latlng.lat, event.latlng.lng]
					});

				map.on('click', (e) => {
					newLng = e.latlng.lng
					while (newLng > 180) {
						newLng -= 360
					}
					while (newLng < -180) {
						newLng += 360
					}
					this.newOrigin = [e.latlng.lat, newLng]
					marker.setLatLng(e.latlng)
					map.setView([e.latlng.lat, newLng])
				});
			},
			/* Toggles driver on/off */
			setDvlEnabled(event) {
				const request = new XMLHttpRequest();
				request.timeout = 800;
				request.open('GET', 'enable/' + event, true);
				request.send();
			},

			/* Toggles rangefinder on/off */
			setDvlAsRangefinder(value) {
				const request = new XMLHttpRequest();
				request.timeout = 800;
				request.open('GET', 'use_as_rangefinder/' + value, true);
				request.send();
			},

			/* Sets dvl orientation (Down/Forward) */
			setDvlOrientation(orientation) {
				const request = new XMLHttpRequest();
				request.timeout = 800;
				request.open('GET', 'orientation/' + orientation, true);
				request.send();
			},

			/* Sets DVL hostname (usually cerulean-dvl.local) */
			setDvlHostname() {
				const request = new XMLHttpRequest();
				request.timeout = 2000;
				request.open('GET', 'hostname/' + this.newHostname, true);
				request.send();

			},

			/* Sets DVL MessageType */
			setDvlMessage(msg) {
				const request = new XMLHttpRequest();
				request.timeout = 800;
				request.open('GET', 'message_type/' + msg, true);
				request.send();
			},

			setCurrentLocation() {
				const request = new XMLHttpRequest();
				request.timeout = 800;
				request.open('GET', 'setcurrentposition/' + this.newOrigin[0] + '/' + this.newOrigin[1], true);
				request.send();
			},
			getDescription(key, item){
				if (item.value == null){
					return "..."
				}
				desc = ""

				if (key == "calibration"){
					if (item.value == "WAIT"){
						desc = "Please rotate the vehicle"
					}
					else {
						desc =
							"Sys:" + item.value[0] + "|" +
							"Gyro:" + item.value[1] + "|" +
							"Accel:" + item.value[2] + "|" +
							"Mag:" + item.value[3] 
					}
	
				}
				// console.log(item)
				return desc
			},

		},
		mounted() {
			console.log('mounted!')
			this.createMap()
			this.updateDvlStatus()
			setInterval(this.updateDvlStatus, 2000)
			setInterval(this.updateVehiclePosition, 1000)
		}
	})

</script>

</html>
